

.login-container {
    background-color: #ffffff;
    width: 320px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.additional-links {
    text-align: center;
    margin-top: 10px;
}

.additional-links a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
}

.additional-links .separator {
    margin: 0 5px; /* Espacio entre el separador (|) y los enlaces */
    color: #007bff;
}

.additional-links a:hover {
    text-decoration: underline;
}

